.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.main {
    max-height: 800px;
    height: 100%;
}
.login_box {
  justify-content: space-evenly;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 500px;
  padding: 50px;
  border: solid 2px;
  border-radius: 30px;
  max-height: 500px;
  max-width: 800px;
  z-index: 1000;
}

.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
.top .input {
  padding: 7px;
  margin: 5px;
  display: inline-block;
  border-color: black;
  border-width: 1px;
  background: white;
  border-radius: 50px;
}
.bot {
  text-align: center;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  margin: 50px;
}
.bot .btn {
  width: 20%;
  height: 30px;
  background-color: rgb(0, 0, 48);
  color: white;
}
