

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
}

.checkoutbox {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 600px;
    padding: 40px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.7);
    border-color: black;
    border-radius: 50px;
}

.errorbox {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 30%;
    padding: 40px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.7);
    border-color: black;
    border-radius: 50px;
}

.reviewbutton {
    background-color: rgb(0, 0, 65);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    opacity: 0.8;
    border-radius: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    width: 90%;
    height: 100%;
  }

  td th {
    border: 1px solid #ddd;
    padding: 8px;
  }
    
  th {
    padding-top: 12px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(0, 0, 65);
    color: white;
  }
  td h3 {
    font-size: 20px;
    font-weight: 100;
    margin-right: 25px;
}
  td h4{
    font-size: 15px;
    font-weight: 550;
    white-space: pre-line;
  }