.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topContainer {
  background-image: url("components/resources/BG_IMG.png");
  background-repeat: no-repeat;
  height: 800px;
  max-width: 1800px;
  width: 100%;
  justify-content: center;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  top: 50%;
  width: 100%;
  position: absolute;
}
.imgConent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.moto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.moto1 {
  font-size: 44px;
  font-weight: 1300;
}
.moto2 {
  font-size: 44px;
  font-weight: 500;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttons li {
  list-style: none;
}

.buttons button {
  border: none;
  background-color: rgb(0, 0, 48);
  color: white;
  padding: 12%;
  width: 120px;
  font-size: medium;
  border-radius: 5px;
  margin: 10px;
  transition-duration: 0.4s;
}

.buttons button:active {
  background-color: rgb(53, 53, 110);
}
.buttons button:hover {
  color: rgb(109, 109, 109);
  font-style: italic;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.item {
  box-sizing: border-box;
  margin-top: 60px;
  border: solid 2px;
  background-color: white;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
}
.item .desc {
  max-width: 400px;
}
.btn {
  width: 100px;
  height: 30px;
  background-color: rgb(0, 0, 48);
  color: white;
  margin: 10px;
  transition-duration: 0.4s;
}
.btn:hover {
  font-style: italic;
  color: rgb(109, 109, 109);
}
.btn:active {
  background-color: rgb(53, 53, 110);
}

.outOfStock {
  width: 100px;
  height: 30px;
  background-color: rgb(77, 77, 77);
  font-style: italic;
  color: white;
  margin: 10px;
  transition-duration: 0.4s;
}
